{% extends 'partials.layout' %}

{% block contents_main %}
  <h1>BBS</h1>
  <p>just a joke;)</p>
  <p>
    {{ link_to_route('thread_create', '新規スレッド作成', {}, {class: 'btn btn-success'}) }}
  </p>

  {% if threads.total > 0 %}
    {% for t in threads %}
      <div class="panel panel-default">
        <div class="panel-heading">{{ t.title }}</div>
        <div class="panel-body">
          <small>投稿者: {{ t.user.name }}</small><br>
          <small>投稿日時: {{ t.created_at|date('Y-m-d H:i') }}</small><br>
          {{ t.body|nl2br }}
        </div>
        <p class="text-right">
          {{ link_to_route('comments', t.comments.count ~ '件のコメントをみる', {thread_id: t.id}) }}
        </p>
      </div>
    {% endfor %}
  {% else %}
    <p>oh, no threads found</p>
  {% endif %}
{% endblock %}

